[2018-02-21 10:31] lonesword opened #99 "Cannot run main.py with any file in /src"
Running `python3 main.py src/orbit1.csv` results in `ValueError: cannot reshape array of size 33 into shape (3,)`

[2018-02-21 10:36] lonesword opened #100 "Let main.py accept filename as an argument"
Right now `orbit.csv` is hardcoded inside main.py. It would be more convenient if we can supply the filename as a command line argument

[2018-02-21 14:46] petioptrv commented on #100
I will take a crack at this

[2018-02-21 16:26] lonesword commented on #100
@petioptrv [Argparse](https://docs.python.org/3/library/argparse.html) is a very easy way to do this. Hardly 4 lines I guess. Please assign the issue to yourself.

[2018-02-21 18:10] petioptrv commented on #100
Here is the pull request for this issue #101

[2018-02-22 12:10] Alexandros23Kazantzidis commented on #100
First of all thank you very much for the contribution
Yes, it is a good observation I will check the pull request and also we need to wait for @Nilesh4145  to check the new code also.

[2018-02-22 17:42] #100 closed

[2018-02-28 18:28] lonesword opened #104 "Better readme"
A better readme with setup instructions and how to run the tests would help.

[2018-03-01 08:50] aryadas98 opened #107 "Add a .gitignore file"
A `.gitignore` file is needed to ignore `__pycache__` files. These are machine dependent files and should not be here in the main repo.

`orbitdeterminator/filtered.csv` is the output of an execution and should be ignored too.

[2018-03-01 11:01] Nilesh4145 commented on #107
Hello @aryadas98 We appreciate your suggestions. This project was actually done by 2 people, me and @Alexandros23Kazantzidis . He was a little unfamiliar with these conventions, so he might have missed it at some places. Regarding filtered.csv, it has been purposely kept there for people to have an idea of how the outputs look like even if they have issues executing the code.
We'll appreciate if y

[2018-03-01 11:48] Alexandros23Kazantzidis commented on #107
Yeah for __pycache__ a .gitgnore should be added also for idea folders too which PyCharm constantly creates. I will add it since we all agree on that. For the filtered.csv I agree with Nilesh, we want it to be there so that people can see what the output format of the filtering is.

[2018-03-01 12:19] aryadas98 commented on #107
No problem, I am new too! Good to meet you all. :-D

[2018-03-02 20:42] #104 closed

[2018-03-06 11:45] #107 closed

[2018-03-18 22:48] krishnaw14 opened #110 "Unable to build the repo on mac"
On running `$ python setup.py install`: I am getting the error as:
`Searching for pykep
Reading https://pypi.python.org/simple/pykep/
No local packages or working download links found for pykep
error: Could not find suitable distribution for Requirement.parse('pykep')`

I was unable to find a work around this. This might be something trivial but I am new to this so I apologise in advance.

[2018-03-19 18:13] PerezHz commented on #110
I'm having a similar issue and trying to figure out how to fix this, what version of macOS are you using @krishnaw14?

[2018-03-19 18:28] krishnaw14 commented on #110
@PerezHz I am using MacOS High Sierra- version 10.13.2

[2018-03-20 07:28] PerezHz commented on #110
I'm also a new user and am also on macOS High Sierra (10.13.3); the way I worked around this issue was the following:

- `brew install` python, boost and boost-python3
- Install pykep from source, following the guidelines in the pykep docs, which you can find [here](https://esa.github.io/pykep/installation.html)
- Then, running python from the `orbitdeterminator/orbitdeterminator` dir I was able t

[2018-03-20 09:06] Alexandros23Kazantzidis commented on #110
Hello guys, unfortunately, we have not encountered this problem yet due to the fact we mainly use ubuntu and windows. I don't know why this error with the pykep library occurs but I think the last solution works. The output you get is the standard output of the main.py script.

[2018-03-25 03:25] #110 closed

[2018-05-09 13:29] #99 closed

[2018-07-24 16:42] Alexandros23Kazantzidis opened #132 "Jorge_dev This branch is 95 commits ahead, 73 commits behind master."
Hey @PerezHz I was watching your branch really cool stuff you have there, but I can see that your branch is a bit complex. I hope you will be able to merge it without any troubles but I doubt it. When you try to do it we should all help you so that we can ensure the process will be smooth.

[2018-07-24 22:10] PerezHz commented on #132
I mean, at least for now the issue of keeping my dev branch up to date wrt current master seems to be solved.. When the code in my dev branch starts to interact with the rest of the code, then I'll surely need your help guys! Before merging, are there any other specifics that I should take care of?

[2018-07-26 06:05] Alexandros23Kazantzidis commented on #132
If the rebase went smoothly then I think you can try to merge. But I think you will get lots of conflicts if you were working on the scripts that also other students were working. @Nilesh4145  @aryadas98  @aakash525  Guys if you can also share your opinion on this matter.

To add your new dependencies you will need to add them to requirements.txt (with a pip freeze > requirements.txt of your local

[2019-03-14 01:38] vidhanarya opened #146 "Stuck in a while loop in automated.py script"
In automated.py code, the script can only be exited with the keyboard interrupt otherwise it keep on checking for new file in /src directory. Here's an example:

![issue_orbitdeterminator](https://user-images.githubusercontent.com/28908101/54325366-cc7e2a00-4627-11e9-9332-8a915ea7bfe3.gif)

[2019-03-14 03:11] vidhanarya opened #148 "Files with white-spaces or special characters in filename are not handled by automated.py"
When automated.py encounters a file with space or characters like '(', ')' etc in their name, it gets stuck in a loop where it process the same file over and over again as shown in gif below-
![issue2_orbitdeterminator](https://user-images.githubusercontent.com/28908101/54327841-a65d8780-4631-11e9-8389-677e552731cd.gif)

[2019-03-14 05:05] OrbitalMechanic opened #149 "Installing orbitdeterminator on a iMacPro"
I'm attempting to install orbitdeterminator on an iMacPro running Python 3.6 (Anaconda) under Mac OS X ver. 10.14.3. The problem I'm having is when it comes to PyKep.

I installed PyKep using conda. It installs PyKep ver. 2.3. When I do the install, I get the following messages:

(base) Samuels-Mac-Pro:~ user$ cd orbitdeterminator
(base) Samuels-Mac-Pro:orbitdeterminator user$ python setup.py inst

[2019-03-14 15:44] vidhanarya commented on #149
python setup.py will install dependencies using 'pip' and for macOS 'pykep' has some issues on installation using pip (at least on Mojave I can confirm that) so what you should do is remove pykep from install_required in setup.py and manually install pykep, which you already did using
`conda install pykep`.
Here is the screenshot of the working code-

<img width="1680" alt="Screenshot 2019-03-14 a

[2019-03-15 05:50] OrbitalMechanic commented on #149
I created a separate Python environment for Python 3.5.2.

The problem I'm having at present is that the tests fail as shown in the
output below.

(orbit_determinator) Samuels-Mac-Pro:orbitdeterminator user$ ls -l
total 40
-rwxr-xr-x@  1 user  staff   128 Feb 21 20:01 AUTHORS.rst
-rwxr-xr-x@  1 user  staff  1074 Feb 21 20:01 LICENSE
-rwxr-xr-x@  1 user  staff   994 Feb 21 20:01 README.md
drwxr-xr-

[2019-03-15 19:01] vidhanarya commented on #149
I think you have installed 'matplotlib' using 'pip', if that is the case then what you can do is if you want a workaround then just uninstall matplotlib using
`pip uninstall matplotlib`
and install it with conda
`conda install matplotlib`
then you can just run the program with `python main.py`
or if you want to fix this problem then install python.app using
`conda install python.app`
After this yo

[2019-03-17 02:03] OrbitalMechanic commented on #149
I'm close to getting orbit determinator running.

Presently, I'm able to get orbit determinator to run in a separate
Python environment where:

(orbdet) Samuels-Mac-Pro:orbitdeterminator user$ conda list
# packages in environment at /Users/user/anaconda3/envs/orbdet:
#
# Name                    Version Build  Channel
anaconda                  custom py35hd7b5ba2_0
atomicwrites              1.3.0 p

[2019-03-17 14:11] vidhanarya commented on #149
You need to give a file input with main.py as
`python main.py -f /path/to/your/csvFile`
For more information refer to orbitdeterminator tutorial [here](https://orbit-determinator.readthedocs.io/en/latest/examples.html#run-the-program-with-main-py)

[2019-03-17 14:58] aryadas98 commented on #149
Try running it as `python main.py -u m`. That will set the unit to metres. (The default file has units in metres)

[2019-03-19 04:45] OrbitalMechanic commented on #149
I ran main.py as python main.py  -f
/Users/user/orbitdeterminator/orbitdeterminator/orbit.csv and got the
following output.

(orbdet) Samuels-Mac-Pro:orbitdeterminator user$ python main.py  -f
/Users/user/orbitdeterminator/orbitdeterminator/orbit.csv
/Users/user/anaconda3/envs/orbdet/lib/python3.5/site-packages/scipy/signal/_arraytools.py:45:
FutureWarning: Using a non-tuple sequence for multidime

[2019-03-19 04:55] vidhanarya commented on #149
Try using the solution given by @aryadas98 above i.e run `python main.py -f /your/file/path -u m` because it seems that the csv file you are using needs default unit in meters, also, please attach results of command `pytest` from the working directory

[2019-03-21 02:00] OrbitalMechanic commented on #149
Below are the results from running pytest.

(base) Samuels-Mac-Pro:orbitdeterminator user$ conda activate orbdet
(orbdet) Samuels-Mac-Pro:orbitdeterminator user$ pytest
=====================================================================
test session starts
======================================================================
platform darwin -- Python 3.5.2, pytest-4.3.1, py-1.8.0, pluggy-0.9.0

[2019-03-21 02:05] vidhanarya commented on #149
Cool, your setup is running fine 😄

[2019-03-21 05:06] OrbitalMechanic commented on #149
That's good to hear.

For the method you're using here, was a paper published developing the
mathematics behind the algorithm used in orbitdeterminator? If so,
please send me a copy.

In any event, thank you for help. I really appreciate it. :-)

Sam Dupree.

On March/20/2019 22:05:44, Vidhan wrote:

[2019-03-21 19:53] aryadas98 commented on #149
Last year this paper was very helpful for me. https://vtechworks.lib.vt.edu/bitstream/handle/10919/49102/Keil_EM_T_2014.pdf

[2019-03-21 19:53] #149 closed

[2019-03-23 22:29] vidhanarya commented on #146
Solved in PR #150

[2019-03-23 22:29] #146 closed

[2019-03-23 22:30] vidhanarya commented on #148
Solved in PR #150

[2019-03-23 22:30] #148 closed

[2019-03-27 10:47] jorgepiloto opened #155 "Documentation and package layout"
As I commented in the `chat`, although the package documentation is deployed in `Read the docs` it is currently failing as I saw here: https://readthedocs.org/projects/orbit-determinator/

Documentation is fundamental if we want a project to be useful for external users and none experienced ones. But is not only that, it helps contributors to have a general idea on the package, how to run differen

[2019-04-04 17:06] aryadas98 opened #156 "Put all sample data in one folder"
Right now all the sample data used for testing (.csv files) are scattered across the whole repo. Put all of them in `example_data`. Do not mess with any script specific files - like `main.py` runs with `orbit.csv` by default, so don't move it. Check the same for automated and propagation folders. In the end, delete any empty folders.

[2019-04-04 18:11] vidhanarya commented on #156
Any CSV file not in use by any script is already in example_data? Files in dst folder are generated by the automated.py script so unless we change input and output parameter of the scripts I guess the state of the codebase will remain same. Please confirm if I am right or not

[2019-04-05 20:38] aryadas98 commented on #156
Yes, you are correct. I will have to ask others about it first.

[2019-04-07 16:49] CooperPair commented on #156
So what's wrong in putting datasets in a folder as it will look more structured and for this, we just need to change the path of datasets in files?

[2019-04-16 20:08] aakash525 commented on #156
Obviously, for managing database, you have to put the dataset in a single folder (create sub-folder if required) and after this, you have to update the path of datasets in respective files.

[2019-04-27 08:48] zeryabmoussaoui opened #161 "Is there a feature to estimate forces ?"
Hello

I just discovered orbit-determination and it's awesome !

I'm wondering if there is a feature to estimate forces on a given satellite , i looked in the docs with no success.

Thanks a lot.

[2019-04-28 11:07] krishna-birla commented on #161
The current version of OrbitDeterminator does not deal with orbital maneuvers, in fact in a way, it tries to ignore it. Let me explain why I say so.
The input for the tool is a set of Cartesian/spherical coordinates which need not be contiguous in time but you may expect it to be chronological. These are observational inputs, so they have various errors. Hence we apply curve fitting on the data be

[2019-04-28 11:55] vidhanarya commented on #161
As @krishna-birla mentioned we don't have a feature to measure force. If you want to measure the force, what you can do is calculate the acceleration (force per unit mass) with 2 body approximation i.e only earth and satellite and use gravitational acceleration at that point on the ellipse and multiply this acceleration with the mass of the satellite (If known). In short what you'll need to calcul

[2019-04-28 12:01] zeryabmoussaoui commented on #161
Thanks for your explantions,  i take more time to read the code and i understand that you assume only gravitational force from earth (as a consequence  the Ellipsoid fitting).
I will consider you proposal , thanks again.

[2019-04-28 12:01] #161 closed

[2019-05-28 03:23] vidhanarya commented on #156
Solved in PR #157, this issue can be closed now

[2019-05-28 04:08] vidhanarya opened #166 "Documentation builds are failing on readthedocs"
Documentation builds are failing on readthedocs because of 'pykep' package (check [here](https://readthedocs.org/projects/orbit-determinator/builds/9096686/)).
<img width="1676" alt="Screenshot 2019-05-28 at 8 55 38 AM" src="https://user-images.githubusercontent.com/28908101/58450185-6fc0e480-812b-11e9-887a-8a017ba1e063.png">
I think this can be solved adding conda configuration file and install p

[2019-06-05 12:13] #156 closed

[2019-06-25 14:01] aryadas98 commented on #132
The branch has been merged now! :tada:

[2019-06-25 14:01] #132 closed

[2019-10-19 02:33] OrbitalMechanic opened #178 "Has orbitdeterminator been modified to accommodate Python 3.7.x?"
Conda is currently malfunctioning when it comes to installs, uninstalls and creating virtual environments. Is orbitdeterminator compatiable with Python version 3.7.x?

Sam Dupree.

[2019-10-29 10:17] vidhanarya commented on #178
There is one dependency of OrbitDeterminator which is only available on conda, we are working to remove that dependency but right now the program is not compatible with Python 3.7.x
@OrbitalMechanic It would be helpful if you can give details of the platform and python version which you are using.

[2019-10-30 03:56] OrbitalMechanic commented on #178
I'm running on an iMacPro running Mac OS X version 10.14.6 (Mojave).

The version of Python I'm running is the Anaconda distribution version
3.7.3. The conda list for my system is:

(base) Samuels-Mac-Pro:~ user$ conda list
# packages in environment at /Users/user/anaconda3:
#
# Name                    Version Build  Channel
_ipyw_jlab_nb_ext_conf    0.1.0 py37_0
absl-py                   0.7.1 py

[2019-10-30 08:20] vidhanarya commented on #178
I can see that you do not have pykep installed in your conda list of packages. If you were not able to install the package can you please post the error message associated with `conda install pykep`, otherwise, install the pykep package and try executing the program. Also, post the error that you get while executing the program.

[2019-10-31 03:52] OrbitalMechanic commented on #178
Below is the output I got when I attempted to install pykep using conda:

(base) Samuels-Mac-Pro:~ user$ conda install pykep

# >>>>>>>>>>>>>>>>>>>>>> ERROR REPORT <<<<<<<<<<<<<<<<<<<<<<

     Traceback (most recent call last):
       File
"/Users/user/anaconda3/lib/python3.7/site-packages/conda/exceptions.py",
line 1074, in __call__
         return func(*args, **kwargs)
       File
"/Users/user/a

[2019-10-31 14:21] vidhanarya commented on #178
Do you have 'conda-forge' in list of your conda channel? Check with command `conda config --show channels`, if conda-forge is not listed, add the channel with command `conda config --add channels conda-forge`. I've tested the command on my system (macOS 10.15.1 and Python 3.7.4) and it is working fine for me.  If you've conda-forge and still experiencing error while installing, then we might need

[2019-11-01 00:45] OrbitalMechanic commented on #178
The conda channels I have installed are:

(base) Samuels-Mac-Pro:~ user$ conda config --show channels
channels:
   - conda-forge
   - defaults
(base) Samuels-Mac-Pro:~ user$

This tells me that I do have conda-forge and once again when I attempt
to install pykep using conda I get

(base) Samuels-Mac-Pro:~ user$ conda install pykep

# >>>>>>>>>>>>>>>>>>>>>> ERROR REPORT <<<<<<<<<<<<<<<<<<<<<<

    

[2019-11-03 16:19] vidhanarya commented on #178
This issue here is with conda here as the given command is working for me in same environment (conda version 4.7.12, python version 3.7.4). I searched for the error and some threads found fix by removing and then again adding back conda-forge channel. Try the following commands and check if your problem is resolved:
`conda config --remove channels conda-forge`
`conda config --add channels conda-fo

[2019-12-10 10:54] Umbrstell opened #179 "An error was found, but returning just with the version: No module named 'termios'"
pytest is ok ,but when I run main.py  An error was found, but returning just with the version: No module named 'termios'

C:\Users\astronomy\PycharmProjects\untitled1\orbitdeterminator\orbitdeterminator>python main.py -f \Users\astronomy\PycharmProjects\untitled1\orbitdeterminator\orbitdeterminator\orbit.csv
An error was found, but returning just with the version: No module named 'termios'

******

[2019-12-10 15:07] Umbrstell commented on #179
An error was found, but returning just with the version: No module named 'termios'

[2020-01-06 08:10] Gaunish opened #181 "Issue with checkbox attribute in inquiry package in main.py"
@vidhanarya During testing of main.py, I found that checkbox attribute is not been recognized during execution.
I have tried reinstalling inquiry package using `pip install inquiry`
then I checked documentation of inquiry package
both steps provided no change.

![checkbox](https://user-images.githubusercontent.com/41854864/71804559-d5922900-3089-11ea-80cb-275bc9523e02.PNG)
![Capture2](https://user

[2020-01-19 22:30] vidhanarya commented on #181
I've just checked the program and its working fine on my system. Can you post the output of `pip list` from your working environment?

[2020-01-20 13:52] archithadge opened #183 "Math Domain Error"
``Traceback (most recent call last):
  File "main.py", line 222, in <module>
    process(args.file_path, args.error, args.units)
  File "main.py", line 106, in process
    kep_final_inter[6, 0] = sgp4.rev_per_day(kep_final_inter[0, 0])
  File "/home/archit/test/orbitdeterminator/orbitdeterminator/propagation/sgp4.py", line 30, in rev_per_day
    t = 2*pi*math.sqrt(axis**3/meu)
ValueError: math dom

[2020-01-20 14:00] archithadge commented on #183
Tried to solve this issue here #182 .

[2020-01-21 18:02] sciduck commented on #181
Figured the cause I guess, working on it!

[2020-01-26 11:33] Gaunish commented on #181
@vidhanarya here is the result as you asked for it
![piplist](https://user-images.githubusercontent.com/41854864/73134560-b883c100-405d-11ea-847e-094e5c5bee74.PNG)

[2020-01-28 17:49] archithadge commented on #181
I was facing the same issue, solved by creating a new conda environment and then installing packages through requirements.txt.

[2020-02-18 06:38] #178 closed

[2020-02-19 07:19] vidhanarya commented on #183
Solved in #182

[2020-02-19 07:19] #183 closed

[2020-02-19 07:37] Ashutoshkataria19 commented on #181
I was facing the same issue, the problem is due to the inquirer package used to run the orbitdeterminator because this inquirer package is not fully supported on windows os and as shown in the screenshot the user is using a windows os.
I solved this problem using PyInquirer same as the inquirer package and works on all platforms.
and will open a PR soon.

[2020-03-07 02:38] Curious-Nikhil opened #187 "Pykep V2.1 is not available"
Hi,
Installing(Win OS) pykep v1.2 returns a PackageNotFounderror
`conda install pykep==2.1
`

![image](https://user-images.githubusercontent.com/12347532/76135026-3c5f9e80-6049-11ea-9ddb-043b6aeb37d0.png)

**Available versions:**
![image](https://user-images.githubusercontent.com/12347532/76134947-87c57d00-6048-11ea-8f27-76cefaaddcf8.png)

Installing the latest pykep (v2.4.x), **resets** my python

[2020-03-09 21:27] AhmedEHaddad commented on #187
Have you tried downloading the 1.2 version from archives

[2020-03-10 11:42] Curious-Nikhil commented on #187
I can't find it on [conda-forge](https://anaconda.org/conda-forge/pykep/files?version=2.1).

![image](https://user-images.githubusercontent.com/12347532/76309118-1b6da680-62f2-11ea-9a73-0ef572010b29.png)

[2020-03-19 13:04] KUEE1080 commented on #187
I am not sure if this is an appropriate way, but I had the same issue and resolved it by using

pip install pykep==2.1

[2020-03-19 16:34] Curious-Nikhil commented on #187
![image](https://user-images.githubusercontent.com/12347532/77090667-7e1b1c80-6a2d-11ea-8cc9-f001bf534ace.png)

Yes, I can confirm that the `pip install` command works. Surprisingly conda lib doesn't have pykep 2.1 version.

Best to use `conda install pykep==2.1`  in linux.
Thanks 👍

[2020-03-19 16:34] #187 closed

[2020-03-19 23:10] craigim opened #188 "plot_kep breaks with recent matplotlib"
When I try to use `plot_kep`, I get :

[code]

It appears to be related to matplotlib/matplotlib#1077 where, rather than fixing an issue with setting the aspect ratio, they instead just shut off the feature.

[2020-03-25 12:22] Allan-Perez commented on #188
I have tried it, and you're right. It seems to be an open issue within the matplotlib library. I suggest to put it as a try-except block, trying the matplotlib function, but if there's this error (NotImplementedError), then try another way. This way would be to put a numerical limit on the axes, where these limits would be the largest (and smallest) value of all the axes, and then set it to all of

[2020-03-30 03:58] Curious-Nikhil commented on #179
Hi,

For this error `AttributeError: module 'inquirer' has no attribute 'Checkbox'`
Unfortunately, `Inquirer `which is based on `blessing` module is not supported by windows.

[PyInquirer](https://github.com/CITGuru/PyInquirer) is a better alternative with similar features.

I tried installing PyInquirer with the current requirements of OD and I get a `regex build fail error` which is due to outda

[2020-04-22 03:10] tacaswell commented on #188
Setting the aspect of 3D plots never actually worked (which is why we now raise NotImplemented).

[2020-05-23 12:19] hornig opened #193 "add more IOD formats"
https://github.com/aerospaceresearch/orbitdeterminator/blob/5a2c2a6efce5710e5cb22a90a76e4c0ea0ea4de1/orbitdeterminator/kep_determination/gauss_method.py#L218-L247

read first line, get sub-format, construct iod_delims from there
as it is now, it only works for the given test file iod_data.txt
iod_delims are the fixed-width column delimiter followinf IOD format description

IOD formats explained he

[2020-05-30 22:57] hornig commented on #193
I added some already. some more need to be finished.
https://github.com/aerospaceresearch/orbitdeterminator/tree/Positional_Obs_Report_Formats

[2020-06-11 08:33] Leotuashutosh commented on #155
I would like to work on this if this is still open

[2020-06-11 19:11] hornig commented on #155
hey @Leotuashutosh , there can always be improvement. :)

[2020-06-27 19:53] astrojuanlu opened #195 "Review SGP4 extraction"
(Comes from [this conversation on Zulip](https://aerospaceresearch.zulipchat.com/#narrow/stream/147024-OrbitDeterminator/topic/sgp4dc/near/201818056))

I see that orbitdeterminator has an original SGP4 implementation (kudos!). However, the `SGP4.recover_tle` classmethod looks contentious to me: it's extracting the osculating orbital elements from (pos, vel) and then inserting those in the TLE, but

[2020-06-30 00:57] adigeak opened #196 "Issue with llvmlite"
when i was installing it with `python setup.py install`. It broke in llvmlite.
i found that llvmlite pip have some problem.

[code]

on installing with anaconda it works fine.

`conda install --channel=numba llvmlite`

[2020-06-30 10:50] astrojuanlu commented on #196
The most recent version of llvmlite does not ship wheels for Python 3.5, as you can see here:

https://pypi.org/project/llvmlite/0.32.1/#files

Therefore, it downloads the source distribution and tries to compile it against a system LLVM, which you don't have (`No such file or directory: 'llvm-config'`).

Ways to fix it:

- Install llvmlite with conda (you already figured that out)
- `pip install

[2020-07-02 06:32] adigeak commented on #196
Can't we update the setup.py with the latest ?

[2020-07-02 06:44] astrojuanlu commented on #196
Updating setup.py with the latest won't help: precompiled wheels for llvmlite are not available for old Python versions. Yes, Python 3.5 is old already, it's End Of Life since last November.

Try creating a new conda environment, upgrade pip, and do `pip install . --prefer-binary`. It will work.

In any case, this is not an orbitdeterminator bug.

[2020-07-06 06:45] #196 closed

[2020-07-19 10:41] Sanchaksh commented on #195
Hello! I am new to contributing to open source projects. Can you explain what to do and what the bug is in this review?

[2020-08-14 06:16] OrbitalMechanic opened #197 "pytest fail after installing orbitdeterminator on MacPro (2019)"
Attempting to install Orbitdeterminator on a Mac Pro (2019) running Mac OS X Catalina (10.15.6) under the Anaconda environment.

I began the installation by creating an environment for Orbitdeterminator called OrbDet under Python 3.6. The installation was successful as depicted in the listing that follows.

[code]

The problem occurs when I attempt to test the install as follows.

[code]
Did I mis

[2020-08-15 07:33] OrbitalMechanic commented on #197
I attempted to install Orbitdeterminator under Python 3.7. I was successful at installing Orbitdeterminator from the test I ran:

[code]

The entire installation processed is captured in the attached file. My next step will be running the tutorial in the documentation. However, I still have questions concerning the three warning issued.

Please advise.

Sam Dupree

[xOrbDet install.txt](https://gi

[2020-08-17 09:58] AngelMamba opened #198 "Wrong results when running main.py"
Hi,

Following the tutorial of full feature, I tried to run main.py, but I got this wrong result.
<img width="1433" alt="wrong result" src="https://user-images.githubusercontent.com/50401507/90383140-500c3800-e0b2-11ea-97b7-e59916331661.png">
Also, I didn't choose any filters or methods, but it shows only one set of result.

Did I miss something or misunderstand the tutorial?
Looking forward to th

[2020-08-21 08:04] AngelMamba commented on #198
I think I found the reason. The data in orbit.csv are all meters, so in main.py
`
def read_args():
    parser = argparse.ArgumentParser()
    parser.add_argument('-f', '--file_path', type=str, help="path to .csv data file", default='orbit.csv')
    parser.add_argument('-e', '--error', type=float, help="estimation of the measurement error", default=10.0)
    parser.add_argument('-u', '--units', typ

[2020-10-11 13:08] hornig commented on #181
Hmmm, is that still a problem? I just tried it with python3.7 and the current version of inquirer and it works on my windows10. so worth still to have the issue still open and also keeping the PR open?

[2020-10-11 17:09] hornig commented on #198
hi @AngelMamba you are right. this input is in meters in the example csv.

we already chattet on zulip about it what would be usefull. I like iso units, because of hughe numbers having km as the default value is not uncommon. we haven't decided yet what would be most useull. any ideas?

[2020-10-13 00:59] hornig opened #207 "Where is check_sgp4 used?"
https://github.com/aerospaceresearch/orbitdeterminator/blob/d312577a969b1aa8ad1bbd317d80ded42613de19/orbitdeterminator/tests/check_sgp4.py#L1-L67

I could not find it. at least to test .py used it (or I oversaw it). And it is not its own test. because pytest is not included and the filename does not have correct "test_" start or "test" ending.

[2020-10-13 01:51] hornig commented on #197
Hi @OrbitalMechanic,
as far as I was able to see, the tests had paths leading to nowhere.
I opened this PR for it https://github.com/aerospaceresearch/orbitdeterminator/pull/206 and it solved (at least my) problems. I still need to check for the check_sgp4 for what that is used https://github.com/aerospaceresearch/orbitdeterminator/issues/207
But I think it was these artifacts I also see in your c

[2020-10-14 09:03] AngelMamba commented on #198
Hi @hornig
Thank you for the reply.
I did not glance over what you had been talked about on zulip, but I think it makes sense as long as the dataset in the example csv and formulas in code share the same unit.
So the main concern might be the computational performance? Huge number may cause low performance? I like iso unit too, so, km seems better? I am not sure. I am focusing on algorithm itself.

[2020-10-14 12:19] Vincent-zcm opened #208 "the question about the format of the data"
what is the accurate meaning of "time, x, y, z" in "(time, x, y, z)"?
I can't find the explanation in your "help" pdf which named"orbit-determinator-readthedocs-io-en-latest" .

[2020-10-14 12:37] Vincent-zcm opened #209 "the error when I was using certain modules like the help pdf(pages_20)"
the module "orbitdeterminator.util.goly_window" has no attribute 'c'

[2020-10-15 00:40] #208 closed

[2020-10-15 08:35] hornig commented on #209
please elaborate further.
with these few infos it is hard to replicate what you saw.

[2020-10-15 08:56] hornig commented on #198
you are welcome! :)

yes. input data format is not yet fully decided. this will be another point we/you could start discuss. (for example I am a big json fan and would like to have everythin in json :D)

in general you are right and also "back in the day" that was a big problem. me personally I do not care much, as long as it is defined what is the input. and as long there is no "type" statement i

[2020-10-15 09:31] hornig commented on #179
hmmm, i cannot replicate this.
on my windows 10 version of inquirer it works so far.
is that still a thing?

[2020-10-19 00:48] Vincent-zcm commented on #209
I fell sorry, I got a mistake, thank you. and now I can't use SPACE,UP,DOWN,LEFT,RIGHT and ENTER to choose the filters, when I push the keyboard, there is no response in the terminal.

[2020-10-19 04:34] hornig commented on #209
hi,
the no responsiveness for the keys sound slike you have an old version of inquirer installed (in a windows machine). can you please check you version and tell us?
but still I want to know what you meant with "the module "orbitdeterminator.util.goly_window" has no attribute 'c'"?

[2020-10-20 01:14] AngelMamba commented on #198
Hi @hornig
Thank you for such specific explanation.
To be honest, as a control system enginner, I am just a freashman in this field (aerospace engineering). Still a lot of things to learn. I may have some experience in control algorithm, but satellite orbit determination is totally new for me.
Sorry for not giving any ideas about the algorithm, but I am very exicited to find such an amazing python

[2020-10-20 01:14] AngelMamba commented on #198
Hi @hornig
Thank you for such specific explanation.
To be honest, as a control system enginner, I am just a freashman in this field (aerospace engineering). Still a lot of things to learn. I may have some experience in control algorithm, but satellite orbit determination is totally new for me.
Sorry for not giving any ideas about the algorithm, but I am very exicited to find such an amazing python

[2020-10-20 04:55] hornig commented on #198
you are welcome. It's a good question.

I know that orbit determination is something unusal. On first glance it is maybe difficult, but it is not. So if you are a control engineer, you should have some experience with kalman filters. That we also have in our project, so maybe that is a one way to start it :).

Thank you :). We are still working on it to make it more useful. Every comment helps.
If

[2020-10-20 19:29] hornig opened #211 "Code Unit Testing Philosophy"
Hi,

I would like to start a discussion how we do unit testing.
I just saw now to testing approaches. One is with unittest[0] and one with pytest[1]

[0] https://github.com/aerospaceresearch/orbitdeterminator/blob/master/orbitdeterminator/doppler/tests/test_utils.py#L1
[1] https://github.com/aerospaceresearch/orbitdeterminator/blob/master/orbitdeterminator/tests/test_check_keplerian.py#L6

I would

[2020-10-20 20:44] hornig opened #212 "Doppler: CleanUp"
Taking a look into the new Doppler Folder, I would like to take a chance to ask for cleanup.

Are these files needed?

The full archive folder?
https://github.com/aerospaceresearch/orbitdeterminator/tree/master/orbitdeterminator/doppler/archive

This temp File? It just does some prints.
https://github.com/aerospaceresearch/orbitdeterminator/blob/master/orbitdeterminator/doppler/temp.py

[2020-10-22 02:13] AngelMamba commented on #198
I will close the issue. It's totally for me. I've got perfect answer.:D)
Yes, you're right. I used to design kalmen filter in other field, mainly chemical engineering, but it should work for satellite orbit.
Now, I'm starting to learn basic orbit determination algorithm, and also trying to join the zulip chat.
Thank you for the advice and resources. Looking forward to further update.

[2020-10-22 02:13] #198 closed

[2020-10-22 05:44] PerezHz commented on #211
I'd personally prefer pytest over unittest, but I'm not sure if there's a reason why some tests use one or the other. I would also be in favor of having all tests in a single place, so moving the doppler tests to `orbitdeterminator/tests/` seems to me like a good thing to do

[2020-10-24 22:21] hornig commented on #211
@apak-00 do you think we could re-code your test and use pytest?

[2020-12-01 19:00] Himanshu12145 commented on #212
Greetings @hornig I would love to contribute to this problem please guide me through out this as this is my first contribution in aero-space project . I need to to know what actually am I supposed  to do ?

[2020-12-23 23:43] grubdragon commented on #193
Hi! Is this issue still open?
i'm a newbie, where should I start?

[2021-01-05 05:50] micksharma commented on #207
Hi @hornig  ,
I want to work on this issue ?

[2021-01-17 16:49] spursbyte commented on #211
I will like to work on this issue. Can you assign it to me?

[2021-01-20 14:12] rahulv1999 opened #213 "conda install pykep==2.1 raises error"
conda install pykep==2.1 does not work in windows

[2021-01-28 12:01] rahulv1999 opened #215 "test_old and test_utils fails while test"
test_old and test_utils fails while test  from pytest
![test error](https://user-images.githubusercontent.com/48206612/106135999-a2d43a80-618e-11eb-8de3-0ba3f576cbc9.png)

[2021-02-02 05:16] rahulv1999 commented on #212
@hornig the temp.py I don't think is needed now its purpose I guess was to check the import of astropy package but we can include that in a test file, and the archive folder contains 2 test so that will be needed.

[2021-02-19 16:15] AbhisekOmkar commented on #213
I'm Working on it ,I will revert back to you soon.

[2021-02-19 17:02] rahulv1999 commented on #213
thankyou for the comment but i have already resolved this issue in my pr #218

[2021-02-19 17:02] #213 closed

[2021-03-11 09:46] AkhileshThite commented on #155
@jorgepiloto Sir my PR contains "attractive readme" in which I've updated ReadME with orbit image explaining about orbits and changed font sizes for clear interactive view.

[2021-03-13 19:14] hornig commented on #215
Hi, as long as you do not see it officially closed, it is open.
and you do not need permission to work on this. Just do and start a pull request. worst thing that could happen is that the PR is not merged. but this tepends on how it is solved.

so go on and have fun! :)

[2021-03-13 19:52] hornig commented on #211
just start :). Me and @PerezHz will help. Either ask here or come to our Zulip chat :).

[2021-03-14 11:57] shubhank-saxena commented on #211
Hello @hornig
I am a GSoC'21 aspirant. Here are some points that I feel could help-
- Pytest has all the baseline features of unittest library. So pytest is always a plus thing for us.
- Pytest can help us to integrate much more modules with it, like xdist(multiple cpu distribution library).
- Pytest has some great integration with coverage libraries, which can help in near future when in need for

[2021-03-14 16:27] KingShark1 commented on #193
Is the issue still open ?

[2021-03-14 17:25] hornig commented on #193
It is open as long as we do not close it.
So feel free to add more and make it more elegant.

[2021-03-15 05:56] hornig commented on #211
Ok shubhank, thx.
And now? :)

[2021-03-15 07:07] shubhank-saxena commented on #211
I am on it! :)

[2021-03-15 09:39] KingShark1 commented on #193
The following changes have already been made in
https://github.com/aerospaceresearch/orbitdeterminator/tree/Positional_Obs_Report_Formats
All the seven positional formats have been accurately described in the following code, the only worthwhile addition for now would be to clear up the code more, make it more readable..

btw, i am Computer Science sophmore student from India, aspiring for GSoC 21.

[2021-03-16 04:05] Avhijit-codeboy opened #229 "pykep package not getting installed"
Conda is not able to find the pykep package
![error](https://user-images.githubusercontent.com/41890388/111254357-de41a000-863a-11eb-842d-719dc732cbc8.png)

[2021-03-16 05:08] Avhijit-codeboy commented on #229
I resolved it.
Use Conda forge channel to install pykep and it will work.
`conda install -c conda-forge/label/cf202003 pykep`

[2021-03-16 05:08] #229 closed

[2021-03-16 10:36] KingShark1 commented on #193
I was looking into the issue, found that for the conversion to work, four variables are required, namely : **elevation**, **azimuth**, **UTC time** and finally **Latitude**.

the data provided would already contain three of them excluding _**Latitude**_, as latitude would be of the observing station, it would be required to calculate the siderial time and also both of elevation and azimuth.

here

[2021-03-16 11:49] hornig commented on #193
Hi, okay, cool.

Why not making a PR out of all your efforts?

It's also easier to read.
It's easier to see changes.
And we can test it with your branch.

Will you?

[2021-03-16 11:59] KingShark1 commented on #193
ok, i'll make a PR, but the location(latitude and longitude) data is important, would you resolve that for me?

also i am a student from India, trying for GSoC 2021, just to let you know

[2021-03-16 12:15] hornig commented on #193
It latitude longitude stuff is implemented in the already working part. I think you can just do it similarly. You should test your code anyways and see, if it works :).
I will help of course, so doing a PR into the iod branch would be a good start. Then we can work together on this.

And I expected you to be a gsoc student. ;) We have a lot of new activity lately about it.
If you did not do it alr

[2021-03-16 15:36] KingShark1 commented on #193
should i make a new branch for this?
@hornig

[2021-03-16 22:40] hornig commented on #193
@KingShark1 you can use the branch for the report formats.

[2021-03-17 11:08] KingShark1 commented on #193
used the report formats branch, the only remaining chore to do now, is to import the corresponding latitude and longitude from sat_tracking_observatories.txt .
Following are the changes i made in the code, they are visible in my forked repo.
`def equatorial_to_horizon(ele, az, lat, lon, utc):
        """
        ele : elevation
        az  : azimuth
        lat : latitude
        lon : longitude

[2021-03-17 11:12] KingShark1 commented on #193
@hornig can you check up on the changes i made?
here's a link to my forked repo
[https://github.com/KingShark1/orbitdeterminator](url)

[2021-03-17 19:02] hornig commented on #193
@KingShark1 your link is broken (underneath) and on the visible side it links to your repo.
it would help me to see the change you did by either providing a link to your change/commit, or you just directly commit it as a PR to this branch https://github.com/aerospaceresearch/orbitdeterminator/tree/Positional_Obs_Report_Formats

Will have a look then. :)

[2021-03-17 19:11] KingShark1 commented on #193
yeah did that!
please update me soon : )

[2021-03-17 19:38] hornig commented on #193
would be good if you remove it :)
in the end it needs to run on your computer first :).

[2021-03-20 02:16] AlexanderEvitt opened #231 "No module named 'lamberts_method'"
I install following the methods described in the instructions as best as I can (using python 3.6.5 because pykep won't install with conda below python==3.6). I run the following code:
`from orbitdeterminator.kep_determination.gauss_method import gauss_method_mpc`
And receive the following error:
![image](https://user-images.githubusercontent.com/50218791/111856374-9b185300-8900-11eb-927e-94187d72f

[2021-03-20 13:27] deoudit commented on #231
You need to install the package called lamberts from here https://pypi.org/project/lambert/.

[2021-03-20 14:44] hornig commented on #231
Hi, that is actually not true ;). That is our lamberts_method.py

[2021-03-22 22:21] hornig opened #234 "input file format auto detect"
https://github.com/aerospaceresearch/orbitdeterminator/blob/2929ff49383988cbbbc248bb29f2e6a832c9c605/orbitdeterminator/main.py#L215

currently, the default testcase is a simple .csv file.
but there are more like the IOD file formats or .json formated files (including multi station observations.

it would be nice to have a function that can automatically detect the format.

[2021-03-23 20:52] hornig commented on #231
hi,
i am not sure I understand this issue. for me it works and also the lamberts_method is there. do you have a link (github link) to the line of the code where this is?

[2021-03-24 20:17] priyanshu2706 commented on #234
I already see commits to this issue, why is this issue not closed yet?

[2021-03-25 05:40] hornig commented on #234
Which issue do you see then?

If you mean iod, then it's not.

[2021-03-25 08:13] KingShark1 commented on #231
i worked all issues like this by just updating the __init__.py in every folder, and using relative imports, absolute imports tend to fail on different machines.
@hornig i think this issue should be closed now, there is no problem with the existing code, this particular issue is on the machine used by @AlexanderEvitt .

[2021-03-25 22:12] #231 closed

[2021-03-25 22:15] hornig commented on #215
I would like to have all tests at one central place for Travis to use it.
also I would like to have all test use the same lib (see other Issue https://github.com/aerospaceresearch/orbitdeterminator/issues/211 ).

So what shall we do here?

[2021-03-25 22:16] hornig commented on #212
@apak-00 , what do you think? :)
can we somehow "clean" up yout old folder?

[2021-03-25 22:17] hornig commented on #207
yes, everyone can. just do it and if you have a solution commit a Pull-Request.
no need to ask here :)

[2021-03-25 22:18] hornig commented on #188
@tacaswell @craigim @Allan-Perez can we close this issue?

[2021-03-25 22:19] #179 closed

[2021-03-26 23:34] hornig commented on #211
works?

[2021-03-29 22:39] hornig commented on #229
@Avhijit-codeboy I replaced the pykep function with our own one. If you want, you can check here https://github.com/aerospaceresearch/orbitdeterminator/pull/238

[2021-03-29 22:40] hornig commented on #187
@Curious-Nikhil what do you think about this solution? https://github.com/aerospaceresearch/orbitdeterminator/pull/238

[2021-03-31 21:22] hornig opened #239 "Replace PyEphem with SkyField functions"
https://github.com/aerospaceresearch/orbitdeterminator/blob/3c4ac10f5518783dbddda3c3e23592d7297654d9/orbitdeterminator/kep_determination/gauss_method.py#L18

PyEphem is (currently) not supported with python 3.9 (windows). Also the creator states their SkyField[0] lib does include similar functions and more.

So it is worth a try to replace pyephem functions with the corresponding alternatives from

[2021-04-02 01:24] AlexReido commented on #239
I don't have time right now but I believe ephem is only used to calculate the right asencion and declination from the topocentric coordinates. Should be an easy fix, I'll try tomorow.
I think this is the corresponding function in skyfield.
https://rhodesmill.org/skyfield/examples.html#what-is-the-right-ascension-and-declination-of-a-point-in-the-sky

[2021-04-02 11:14] hornig commented on #239
I see it here being used here for the groundstation/observer location at a given time.
https://github.com/aerospaceresearch/orbitdeterminator/blob/3c4ac10f5518783dbddda3c3e23592d7297654d9/orbitdeterminator/kep_determination/gauss_method.py#L1236-L1238

That is also what you said @AlexReido.
The other ephimerides in this function in there are done differently.

so, interested to work on this includ

[2021-04-02 12:11] AlexReido commented on #239
Yes I'll give it a go now, including testing of course :)

[2021-04-03 08:26] hornig opened #241 "one central place for orbital calculations"
Hi,

during the years, the code grew with several places for almost the same calculations.

just two examples:
https://github.com/aerospaceresearch/orbitdeterminator/blob/master/orbitdeterminator/kep_determination/gauss_method.py#L100-L135
https://github.com/aerospaceresearch/orbitdeterminator/blob/master/orbitdeterminator/kep_determination/gauss_method.py#L552-L640
and
https://github.com/aerospac

[2021-04-03 15:32] #239 closed

[2021-04-07 15:36] Mohitvilasgiri commented on #241
Respected sir,
My name is Mohit Giri, a 3rd-year student studying Electronics and Telecommunication Engineering from St. Vincent Palloti College of Engineering and Technology. I am familiar with python I want to contribute to this project to increase my knowledge and improve my skills.

[2021-04-15 10:18] varshini2305 commented on #234
Can you please elaborate on what you mean by IOD file formats? Or list all file formats that should be detected by the module?

[2021-04-15 10:20] varshini2305 commented on #234
In addition to CSV files- we need a method to also read and process JSON files as input, is that all?

[2021-04-28 20:39] hornig commented on #234
@varshini2305 you maybe did not see the #244 PR, can you please check your PR #245 again, please?

[2021-05-17 18:14] hornig opened #247 "Setting standard gravitational parameter according to the central body and find a place for the constants"
There are several places, where we are using mu, the standard gravitational parameter. Currently it is fixed to Earth in most cases.
it would be better to have it selectable and also to have it at a central location to not have duplicates.

That we should change.
Propose a better way! :)

For example it is in these files:

https://github.com/aerospaceresearch/orbitdeterminator/blob/master/orbitdet

[2021-05-18 06:20] NamamiShanker commented on #247
Hey! I am a new contributor and I just discovered your project. Can I work on this issue?

[2021-05-31 12:19] KingShark1 commented on #241
going to take up this issue!

[2021-06-19 10:14] hornig commented on #247
@NamamiShanker sure, just start.
before you do a PR chat with us here https://aerospaceresearch.zulipchat.com/#narrow/stream/147024-OrbitDeterminator about it.

[2021-06-19 12:02] hornig commented on #241
hey @KingShark1 you can just start on this. why assigning? you also wanted to tackle other ones and then we waited on you.
I still wait :).

[2021-06-23 20:19] hornig opened #249 "load in mixed input formats (json, iod, uk, etc...)"
currently, we will only be able to have one type of format to be load in.
it will be either only iod or only json, or only csv.
an example is here https://github.com/aerospaceresearch/orbitdeterminator/blob/master/orbitdeterminator/kep_determination/positional_observation_reporting.py#L69

what we will need at one point is to be able to mix several input files for multi station orbit determination

[2021-08-20 04:32] OrbitalMechanic opened #250 "Installation procedure on a MacPro (desktop) running Mac OS X 11.5.2 (Big Sur)"
I'd like to install Orbit Determinator on a MacPro (desktop) running Mac OS X 11.5.2 (Big Sur). I'm running the Anaconda Distribution for Python 3.8.10.

Are there any modifications to the installation procedure cited on the GitHub page for this software? If so, what are they?

[2021-12-03 19:36] hornig opened #253 "Faster State Vector processing (SPG4/Skyfield vs ideal Keppler vs...)"
the SGP4 Skyfield libs are really cool. Also they have more realistic models.
but they seem a bit slow by a magnitude.

So adding a faster state vector processing would be great! :)

[2021-12-03 22:59] kerel-fs commented on #253
Related:
@astrojuanlu published the "SPG4 implementations benchmark report" ([full text](https://opensatcom.org/wp-content/uploads/sites/5/2020/12/OpenSatCom-Open-Source-tools-for-SatCom-constellation-analysis-2nd-deliverable.pdf)) which describes an “Evaluation of available[open source] Python libraries for multi-satellite propagation” as part of a sub-activity of the [OpenSatCom](https://opensat

[2021-12-09 04:45] pranjii commented on #247
Hey if this issue is still open I will work on it. Could you give me a few example of cases?

[2021-12-24 13:18] 20JE0187 commented on #247
Hey! I am new to open source contributions and want to contribute to this project. Can you please explain a little bit that what is the problem actually, with an example and what I have to do here to resolve that issue ?

[2021-12-25 17:22] 20JE0187 commented on #247
What things and topics of orbit determination we should learn to resolve this issue ?

[2021-12-25 17:24] 20JE0187 commented on #247
What things and topics of orbit determination we should learn to understand the code and resolve the issue ?

[2021-12-26 14:38] 20JE0187 opened #254 "IndexError : "list index out of range" ,coming on running "triple_moving_average.py" code"
![indexerror](https://user-images.githubusercontent.com/78045906/147410871-c3ecab0f-0847-43fc-8df9-4f069a6c66a3.png)

When I run the python code "triple_moving_average.py" , I was getting the above error.

After working and analysing the issue, I got that the path given ,for loading the data in the ```rd.load_data()```, was wrong because
the length of the ```sys.argv``` is equal to 1 and thus we c

[2022-01-04 10:08] Arunim10 commented on #247
Hey! I am new to open source contributions and want to contribute to this project. Can you explain what do you mean by 'selectable' here ?

[2022-01-04 10:16] Arunim10 commented on #247
I have observed that different values of mu of Earth are being used. For example ,
in this link https://github.com/aerospaceresearch/orbitdeterminator/blob/master/orbitdeterminator/kep_determination/gibbs_method.py#L15
, mu of earth used = 398600.4418 km^3/sec^2
and in this link
https://github.com/aerospaceresearch/orbitdeterminator/blob/master/orbitdeterminator/util/state_kep.py#L29
mu of earth u

[2022-01-21 06:53] airpods69 commented on #254
kinda hacky but what happens if you change sys.argv from 1 to 2? (while keeping the rest of the code same)

[2022-02-03 23:17] hornig opened #257 "Are the right values in the variables?"
https://github.com/aerospaceresearch/orbitdeterminator/blob/1aec8919ba42978e73aab4eaefe407adeb6287e9/orbitdeterminator/kep_determination/least_squares.py#L204-L212

it seems there is a fundametal flaw in the x variables. the x0 are orderd in a way that it seems like they are later wrong when the 6 parameters are used. then that is wrong :(.

checking please if assumption is correct and how this co

[2022-03-04 14:59] nomaan-2k commented on #193
Hey @hornig
I worked on AZ/EL to RA/DEC conversion part of this issue. I have made changes on the master branch.
To create a PR, should I make a new branch as this branch is quite old ( structure differs a bit from the current master branch ).
Or can I create a PR on the master??